body{
    background: radial-gradient(circle,rgba(63,94,251) 0%,rgba(252,70,107,1) 100%);
}
.container{
    max-width: 25rem;
    margin-top: 2rem;
    background: radial-gradient(circle,rgba(63,94,251) 0%,rgba(252,70,107,1) 100%);
    border-radius: 10px;
    box-shadow: 1px 2px 10px #ccc;
    cursor:pointer;
}
#weatherwidget{
    min-height: 18rem;
    background: white;
    background-repeat: 5px;

}

.card{
    width: 100%;

}
.card .card-subtitle{
    font-size: 4rem;
}
.card .cel:after{
    content: "°C";
    position: absolute;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    font-weight: 400;
}
.card .far:after{
    content: "°F";
    position: absolute;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    font-weight: 400;
}

body > footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
    font-size: 1.2rem;
}
.social-icons > span > a{
    font-size: 1.5rem;
    color: black;
    padding: .5rem;
}

@media(max-width:820px){
    body > footer{
        position: fixed;
        bottom:0;
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
        
       
    }
}